---
directories:
    base_dir: <absolute-path-to-base-directory>
    raw_mri: <absolute-path/tempcon_pub/raw_mri>
    analyzed_mri: <absolute-path/tempcon_pub/analyzed_mri>
    local_unzipped_dir: <absolute-path/tempcon_pub/unzipped_dicoms>
    raw_behavioral: <absolute-path/tempcon_pub/raw_behavioral>
    analyzed_behavioral: <absolute-path/tempcon_pub/analyzed_behavioral>
    mri_analysis_scripts: <absolute-path/scripts/mri_analyses>
    vendor_dir: <absolute-path/tempcon_pub/vendor>
    dropbox_tempcon: <absolute-path>
    dropbox_base_dir: <absolute-path>
    downloaded_manual_tracings_dir: <absolute-path>
